@model Proyectoflores.Models.ViewModelsFinca.FincaViewModel

<option value="">seleccione municipio</option>

@if(ViewBag.Mlist != null)
{
    foreach(var item in ViewBag.Mlist)
    {
        <option value="@item.Value">@item.Text</option>
    }
}