@{
    ViewBag.Title = "Home Page";
}

@Styles.Render("~/Content/index.css")

<div>
    <br />
</div>

<div class="jumbotron" style="background-color:#F54335" >
    <h1>SISTEMA DE INFORMACIÓN PRODUCCIÓN DE FLOR</h1>
    <p class="lead">Bienvenido al sistema de información para la producción de flor.</p>
    <p class="lead">
        Este sistema de inventario esta desarrollado único y exclusivamente para los
        propietarios y administradores de las empresas de flores, si usted por algún motivo
        logro acceder sin hacer parte de alguno de estos dos últimos a los cuales se hace
        referencia, por favor salga del sistema y no haga mal uso de esta aplicación web.
    </p>

</div>